#MainContainer {
  display: block;
  font-family: arial;
  font-size: 12px;
  margin: 0 auto;
  width: 50%;
}
#head {
  text-align:center;
  font-style:bold;
  color:#084697;
  background-color:#043F8C;
}
#title {
    color: #42a7ff;
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}
#subtitle {
  color: #42a7ff;
  font-style:italic;
  font-size:30px;
  text-align:right;
  margin:10px;
}
#contentContainer {
  color:#000000;
  font-size:20px;
  font-style:italic;
  text-align:center;
  margin:10px auto;
}
#domain {
  border:2px solid;
  border-radius:25px;
  background-color:#A5AEBA;
  margin:20px;
  float:left;
} 
