#title {
  color:#42A7FF;
  font-style:italic;
  text-align:center;
  width:300px;
  margin:10px auto;
 }
#subtitle {
  color:#42A7FF;
  font-style:italic;
  text-align:center;
  width:300px;
  margin:10px auto;
 }
#content {
  color:#999;
  font-style:italic;
  text-align:center;
  width:300px;
  margin:10px auto;
 }
