<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Domain Administration
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>
  </head>
  <body>
  <div id="head">
    <div id="title">
      DOMAIN ADMINISTRATION
    </div>
    <div id="subtitle">
      A little app to manage expiration dates on domains
    </div>
  </div>
  
{% for domain in domainList %}

<div id="content">
  Name: {{ domain.0 }}<br/>
  Expires on {{ domain.1 }}
</div>

{% endfor %}

</body>
</html>
