<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Domain Administration
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>
  </head>
  <body>
  
  <div id="MainContainer">
    <div id="head">
      <div id="title">
        DOMAIN ADMINISTRATION
      </div>
      <div id="subtitle">
        little app to manage expiration dates on domains
      </div>
    </div>
    <div id="ContentContainer">
      <form action="." method="post">{% csrf_token %}
        {% for field in form %}
          <p> {{ field.filterByDays }}</p>
        {% endfor %}

        <input type="submit" name="submit" value="Go">
      </form>
      <p>Filter: {{ days_left }} days</p>
      {% for domain in domainList %}
        {% if domain.1 > days_left|add:0 %}
          <div id="domain_ok">
            <p>Name: {{ domain.0 }}</p>
            <p>Expires on {{ domain.1 }} days</p>
          </div>
        {% else %}
          <div id="domain_bad">
            <p>Name: {{ domain.0 }}</p>
            <p>Expires on {{ domain.1 }} days</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div> <!-- end MainContainer -->
  <div id="footer">
    <p>(c) 2014 Fede Diaz - nordri (at) gmail.com</p>
    <p>This is free software. Free software is software that gives you the user the freedom to share, study and modify it. We call this free software because the user is free.</p>
  </div>

</body>
</html>
